<div class="table-responsive">
    <table id="job-candidate-table" class="table table-sm table-hover" style="width:100%; text-align: initial; font-size: 12px" cellspacing="0" >
        <thead>
        <tr>
            <th>SNO</th>
            <th>Name</th>
            <th>Score</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Gender</th>
            <th>Experience</th>
            <th>CTC CURRENT</th>
            <th>CTC EXPECTED</th>
            <th>NP (Days)</th>
            <th>Status</th>
        </tr>
        </thead>
    </table>
</div>

<script src="views/humans/candidatelist.js"></script>