<style>

    .hideaddbutton{
        display: none !important;
    }

    .showaddbutton{
        display: block !important;
    }

</style>

<div class="modal-body p-0">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    <!-- Pricing Plans -->
    <div class="rounded-top">
        <h2 class="mb-2 text-center">Sentiment Analysis</h2>
        <p class="text-center pb-3">
            <span id="sentiment-doc-div"></span>
        </p>

        <div class="row g-3">
            <div id="showSentimentForm" class="">
                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="d-flex border-primary p-2 border rounded mb-4">
                            <div class="avatar flex-shrink-0 me-3">
                                <img src="theme2/assets/img/icons/unicons/briefcase.png" alt="User" class="rounded">
                            </div>
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                <div class="me-2">
                                    <p class="mb-0">Total</p>
                                </div>
                                <div class="user-progress">
                                    <div class="d-flex justify-content-center">
                                        <h3 class="fw-bold mb-0"><span id="tot-reviews"></span></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex border-primary p-2 border rounded mb-4">
                            <div class="avatar flex-shrink-0 me-3">
                                <img src="theme2/assets/img/icons/unicons/briefcase.png" alt="User" class="rounded">
                            </div>
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                <div class="me-2">
                                    <p class="mb-0">Generated</p>
                                </div>
                                <div class="user-progress">
                                    <div class="d-flex justify-content-center">
                                        <h3 class="fw-bold mb-0"><span id="tot-sentiments"></span></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="Sentiments-graphs-container">
                    <div class="nav-align-top navbar-detached">
                        <ul class="nav nav-tabs nav-sm" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#SENT-GRAPH1" aria-controls="SENT-GRAPH1" aria-selected="true">
                                    Sentiment Analysis
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#SENT-GRAPH2" aria-controls="SENT-GRAPH2" aria-selected="false" tabindex="-1">
                                    Emotion Analysis
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#SENT-GRAPH3" aria-controls="SENT-GRAPH3" aria-selected="false" tabindex="-1">
                                    N Grams
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <!-- Sentiment Analysis Tab -->
                            <div class="tab-pane fade active show" id="SENT-GRAPH1" role="tabpanel">
                                <div class="card">
                                    <a href="#" class="p-1 text-xl-end text-xs" onclick="GetSentimentFile()">Download File</a>
                                    <div class="card-body">
                                        <div id="sentiments-charts"></div>
                                    </div>
                                </div>
                            </div>

                            <!-- Emotion Analysis Tab -->
                            <div class="tab-pane fade" id="SENT-GRAPH2" role="tabpanel">
                                <div class="card">
                                    <div class="card-body">
                                        <div id="emotion-charts"></div>
                                    </div>
                                </div>
                            </div>

                            <!-- N Grams Tab -->
                            <div class="tab-pane fade" id="SENT-GRAPH3" role="tabpanel">
                                <div class="card">
                                    <div class="card-body">
                                        <div id="ngram-charts" style="height: 400px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
        
        <div class="d-flex justify-content-center mt-3">
            <button id="btn-deletesentiment-basic" class="btn btn-danger d-grid mx-1 btn-sm" onclick="RemoveSentiments()">Delete Sentiments</button>
            <button id="btn-generatesentiment-basic" class="btn btn-primary d-grid w-50 mx-1 btn-sm" onclick="CreateSentiments()">Generate Sentiments</button>
            <button id="btn-sentiment-basic-load" class="btn btn-primary hideaddbutton w-50 mx-1 btn-sm" type="button" disabled="" >
                <span class="spinner-grow me-1" role="status" aria-hidden="true"></span>
                Please Wait...
            </button>
        </div>
        <div class="d-flex justify-content-center mt-1">
            <span class="text-xs text-center text-danger" id="theme-validation-error"></span>
        </div>
    </div>
</div>



<script src="views/chats/sentimentanaltics.js"></script>